In [1]:
a = (7.27,3.9,3.37,32.4,13.12)

(7.27, 3.9, 3.37, 32.4, 13.12)

In [398]:
using DataFrames
using CSV
#using CairoMakie
#using Rounding

#Example 1 from wikipedia as a first sanity check
#Suppose a principal amount of $1,500 is deposited in a bank paying an annual interest rate of 4.3%, compounded quarterly.
#Then the balance after 6 years is found by using the formula above, with P = 1500, r = 0.043 (4.3%), n = 4, and t = 6:
deterministic_predict(P, r , n, t) = P*(1 + r/n)^(n*t)
deterministic_predict(20000.0 , 0.08, 12, 20)

age=40 #                                 Age at start of projections
frequency = 252 #                        Assume 252 trading days per year
days = 1/frequency #                     Convenient way to express days
yrs_to_days(x)=x*frequency #             Simple function to convert years to days
sigma(rp) = df[rp,:].StdDev/100 #        Simple function to get a risk profile's standard deviation

function stocks()
    returns = .1
    sd = .28
    dist = Normal(returns, sd)
    x = returns - 3sd : 0.01 : μ + 3σ

In [89]:
sp = CSV.read("sp500returns.csv", DataFrame)
describe(sp, :min, :max, :mean, :std)
#fig = scatterlines(df, ::values)

2×5 DataFrame
 Row │ variable  min         max       mean     std
     │ Symbol    Any         Any       Union…   Union…
─────┼──────────────────────────────────────────────────
   1 │ date      12/29/1961  9/2/2022
   2 │  value    -47.07      46.59     7.71042  19.1513

In [91]:
dow = CSV.read("dow.csv", DataFrame)
describe(dow, :min, :max, :mean, :std)

2×5 DataFrame
 Row │ variable  min      max      mean        std
     │ Symbol    Real     Real     Float64     Float64
─────┼─────────────────────────────────────────────────
   1 │ Year      1928     2022     1975.0      27.5681
   2 │ Return     -52.67    66.69     7.31495  19.2952

In [93]:
nasd = CSV.read("nasd.csv", DataFrame)
describe(nasd, :min, :max, :mean, :std)

2×5 DataFrame
 Row │ variable  min         max       mean     std
     │ Symbol    Any         Any       Union…   Union…
─────┼──────────────────────────────────────────────────
   1 │ date      12/29/1972  9/1/2022
   2 │  value    -40.54      85.59     12.6078  25.5995

In [423]:
function add_one!(V)
    for i in 1:length(V)
        V[i] += 100 * 5
    end
end

my_data = [100, 200, 3000]

add_one!(my_data)

my_data

3-element Vector{Int64}:
  600
  700
 3500

In [406]:
sp_random = rand(Truncated(Normal(.077, .19), -.47, .46), 10)
#typeof(x)

10-element Vector{Float64}:
  0.1698639668243915
  0.03882858096720051
  0.1375034832130477
  0.15246923949910418
  0.11948087361687423
  0.4479510562148206
  0.1680510811710028
  0.1857957690402415
 -0.00939805917348796
 -0.13233454638784314

In [400]:
for i in sp_random
   a = (round(i * 10000) + 10000)
    #s = Int64[]
    
    println(a)
    #push!([10000],i)
    #push!([1, 2, 3], i)
end

13851.0
8542.0
9325.0
12978.0
11977.0
10847.0
10486.0
10506.0
11292.0
10161.0

In [94]:
#y1 = 10000 
for i in 
    i * x
end

LoadError: UndefVarError: y1 not defined

In [165]:
sp_random = rand(Truncated(Normal(.077, .19), -.47, .46), 10)
#typeof(x)
x

#CairoMakie.activate!()
#fig = scatterlines(x)
for i in sp_random
   a = (round(i * 10000) + 10000)
    #s = Int64[]
    push!(a,2)
    println(a)
    #push!([10000],i)
    #push!([1, 2, 3], i)
end

LoadError: MethodError: no method matching push!(::Float64, ::Int64)
Closest candidates are:
  push!(::Any, ::Any, ::Any) at C:\Users\lizba\AppData\Local\Programs\Julia-1.7.2\share\julia\base\abstractarray.jl:2952
  push!(::Any, ::Any, ::Any, ::Any...) at C:\Users\lizba\AppData\Local\Programs\Julia-1.7.2\share\julia\base\abstractarray.jl:2953
  push!(::OffsetArrays.OffsetVector{T} where T, ::Any...) at C:\Users\lizba\.julia\packages\OffsetArrays\80Lkc\src\OffsetArrays.jl:602
  ...

In [313]:
arr1 = (rand(Truncated(Normal(.077, .19), -.47, .46), 20))
arr2 = (rand(Truncated(Normal(.077, .19), -.47, .46), 20))
arr3 = (rand(Truncated(Normal(.077, .19), -.47, .46), 20))
arr4 = (rand(Truncated(Normal(.077, .19), -.47, .46), 20))
arr5 = (rand(Truncated(Normal(.077, .19), -.47, .46), 20))

(sum(arr2) * 19000) + 19000
#sum(arr1)
#sum(arr3)

61006.90945447216

In [300]:
function test_returns()
    sp_random = rand(Truncated(Normal(.077, .19), -.47, .46), 5)
    
    for i in sp_random
        #a = (round(i * 10000) + 10000)
        println(i)
    end
end
test_returns()

0.002280664943690544
0.111094535976282
0.03217765767604412
0.2882936061391961
-0.004757771528597771

In [278]:
function test_this()
    sp_random = rand(Truncated(Normal(.077, .19), -.47, .46), 10)
    
    for i in sp_random
        a = (round(i * 10000) + 10000)
        println(a)
    end
end
test_this()

11502.0
9522.0
10482.0
9923.0
9572.0
10601.0
12886.0
11111.0
9570.0
12787.0

In [277]:
a = test_returns()
#a(sum)
typeof(a)

0.17498575031570685
-0.23118488717789565
-0.13125562602742996
-0.12803911093572
0.2648926783361252

Nothing

In [243]:
function test_this()
    sp_random = rand(Truncated(Normal(.077, .19), -.47, .46), 10)
    
    for i in sp_random
        a = (round(i * 10000) + 10000)
        println(a)
    end
    
    
    
    
    
    sp_random = rand(Truncated(Normal(.077, .19), -.47, .46), 10)
#typeof(x)
x

#CairoMakie.activate!()
#fig = scatterlines(x)
for i in sp_random
   a = (round(i * 10000) + 10000)
    println(a)
end

11200.0
11392.0
12381.0
8561.0
12626.0
9989.0
13550.0
11396.0
12258.0
12130.0

In [229]:
sp_random = rand(Truncated(Normal(.077, .19), -.47, .46), 10)
#typeof(x)

10-element Vector{Float64}:
 -0.029001385227191534
  0.17282465777586628
 -0.2769027584902051
  0.33975122067115643
  0.01753920351184731
 -0.2548532451816718
  0.26871988486320425
  0.23785007254928214
 -0.17783004584667716
  0.27227380330742884

In [155]:
results = []
Any[]

x = [0]

1-element Vector{Int64}:
 0

In [234]:
results = [0]
Any[]

#
#x = [1]

Any[]

In [241]:
results = []


for i in sp_random
     #x = ((i * 10000) + 10000))
    a = (round(i * 10000) + 10000)
     #x[1] = i
    println(push!(results, a)) # Pushing the *same* vector every time
    
end

Any[12150.0]
Any[12150.0, 7756.0]
Any[12150.0, 7756.0, 10223.0]
Any[12150.0, 7756.0, 10223.0, 8959.0]
Any[12150.0, 7756.0, 10223.0, 8959.0, 11596.0]
Any[12150.0, 7756.0, 10223.0, 8959.0, 11596.0, 8032.0]
Any[12150.0, 7756.0, 10223.0, 8959.0, 11596.0, 8032.0, 10877.0]
Any[12150.0, 7756.0, 10223.0, 8959.0, 11596.0, 8032.0, 10877.0, 12114.0]
Any[12150.0, 7756.0, 10223.0, 8959.0, 11596.0, 8032.0, 10877.0, 12114.0, 13035.0]
Any[12150.0, 7756.0, 10223.0, 8959.0, 11596.0, 8032.0, 10877.0, 12114.0, 13035.0, 9992.0]

In [236]:
results = []
Any[]

x = [0]


for i in 1:3
         x[1] = i
         push!(results, x)  # Pushing the *same* vector every time
       end

results

3-element Vector{Any}:
 [3]
 [3]
 [3]

In [217]:
results = []
Any[]
#a[1] = 1

Any[]

In [226]:
for i in sp_random
    x[] = i
    a = (i * 10000) + 10000))
    println(push!(results, copy(x)
end

LoadError: syntax: "for" at In[226]:1 expected "end", got ")"

In [168]:
#(round(i * 10000) + 10000)

s = int64[]
push!([s]1,2)

LoadError: UndefVarError: int64 not defined

In [137]:
for i in sp_random
    println((push!([10000],i)
    #push!([10000],i)
    
end

LoadError: syntax: missing comma or ) in argument list

In [123]:
push!([1, 2, 3], 4, 5, 6)

6-element Vector{Int64}:
 1
 2
 3
 4
 5
 6

In [ ]:
x = rand(Truncated(Normal(0, 1), 0, 1), 100)

using Distributions
mu = 0    #The mean of the truncated Normal
sigma = 1 #The standard deviation of the truncated Normal
lb = 0    #The truncation lower bound
ub = 1    #The truncation upper bound
d = Truncated(Normal(mu, sigma), lb, ub)  #Construct the distribution type
x = rand(d, 100) #Simulate 100 obs from the truncated Normal

In [337]:
df1 = CSV.read("aapl.csv", DataFrame)
#describe(df)

describe(df1, :min, :max, :mean, :std, :q25, :q75)

2×7 DataFrame
 Row │ variable  min        max       mean         std        q25          q75 ⋯
     │ Symbol    Real       Real      Float64      Float64    Float64      Flo ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ year      1982       2021      2001.5       11.6905    1991.75      201 ⋯
   2 │ return      -0.7106     2.119     0.364123   0.673719    -0.081975
                                                                1 column omitted

In [394]:
aapl1 = (rand(Truncated(Normal(.20, .67), -.71, 2.1), 10))
#aapl1(sum)

#(sum(aapl1) * 19000) + 19000

10-element Vector{Float64}:
 -0.1479845025107852
 -0.6370373014594992
 -0.0610722654496319
 -0.5313002926690513
  1.285776480575525
 -0.4681272995070787
 -0.2969660707767058
  0.18617760053353968
  0.25864452085236955
  0.5808250921315841

In [396]:
aapl1 = (rand(Truncated(Normal(.22, .67), -.71, 2.1), 20))

for i in aapl1
    println(round(sum(i) * 19000) + 19000)
end

37489.0
9910.0
9227.0
20527.0
17053.0
37287.0
30741.0
15450.0
15451.0
19910.0
23893.0
15674.0
33477.0
29601.0
29647.0
13682.0
29316.0
39722.0
13887.0
29666.0

In [368]:
using Random
rng = MersenneTwister(1234)
rng

MersenneTwister(1234)

In [352]:
rand(Int, 10)
using Random
#rng = MersenneTwister(1234);
#rng
rand(MersenneTwister(1), Dict(1=>2, 3=>4))
#rand((2, 3))
rand(10,5)

10×5 Matrix{Float64}:
 0.39462   0.0572878  0.642827  0.612714   0.148254
 0.760677  0.438583   0.274274  0.771358   0.697875
 0.853312  0.468173   0.435766  0.298513   0.864281
 0.387259  0.814012   0.783153  0.312929   0.848737
 0.258535  0.764672   0.160838  0.0577928  0.547224
 0.848076  0.0699209  0.506027  0.64166    0.210205
 0.346645  0.698535   0.106512  0.615304   0.109044
 0.895933  0.570032   0.882481  0.181436   0.281746
 0.964647  0.872666   0.663301  0.45894    0.791548
 0.999275  0.233475   0.13658   0.0842855  0.252839

In [47]:
rand!([rng=GLOBAL_RNG], A, [S=eltype(A)])

LoadError: syntax: misplaced assignment statement in "[rng = GLOBAL_RNG]" around In[47]:1

In [36]:
for i in a
    println(i * 10)
    
end

LoadError: UndefVarError: a not defined

In [37]:
#Example 1 from wikipedia as a first sanity check
#Suppose a principal amount of $1,500 is deposited in a bank paying an annual interest rate of 4.3%, compounded quarterly.
#Then the balance after 6 years is found by using the formula above, with P = 1500, r = 0.043 (4.3%), n = 4, and t = 6:
deterministic_predict(P, r , n, t) = P*(1 + r/n)^(n*t)
deterministic_predict(20000.0 , 0.08, 12, 20)

98536.05541619398

In [2]:
age=40 #                                 Age at start of projections
frequency = 252 #                        Assume 252 trading days per year
days = 1/frequency #                     Convenient way to express days
yrs_to_days(x)=x*frequency #             Simple function to convert years to days
sigma(rp) = df[rp,:].StdDev/100 #        Simple function to get a risk profile's standard deviation

sigma (generic function with 1 method)

In [4]:
function stocks()
    returns = .1
    sd = .28
    dist = Normal(returns, sd)
    x = returns - 3sd : 0.01 : μ + 3σ
end

stocks (generic function with 1 method)

In [ ]:
-35.16%
1982
22.125
29.875
7.75
35.03%
1983
29.875
24.375
-5.50
-18.41%
1984
24.375
29.125
4.75
19.49%
1985
29.125
22.00
-7.125
-24.46%
1986
22.00
40.50
18.50
84.09%
1987
40.50
84.00*
43.50
107.41%
1988
42.00
40.25
-1.75
-4.17%
1989
40.25
35.25
-5.00
-12.42%
1990
35.25
43.00
7.75
21.99%
1991
43.00
56.375
13.375
31.10%
1992
56.375
59.75
3.375
5.99%
1993
59.75
29.25
-30.50
-51.05%
1994
29.25
39.00
9.75
33.33%
1995
39.00
31.875
-7.125
-18.27%
1996
31.875
20.875
-11.00
-34.51%
1997
20.875
13.125
-7.75
-37.13%
1998
13.125
40.9375
27.8125
211.90%
1999
40.9375
102.8125
61.875
151.15%
2000
102.8125
29.75*
-73.0625
-71.06%
2001
14.875
21.90
7.025
47.23%
2002
21.90
14.33
-7.57
-34.57%
2003
14.33
21.37
7.04
49.13%
2004
21.37
64.40
43.03
201.36%
2005
64.40
143.78*
79.38
123.26%
2006
71.89
84.84
12.95
18.01%
2007
84.84
198.08
113.24
133.47%
2008
198.08
85.35
-112.73
-56.91%
2009
85.35
210.732
125.382
146.90%
2010
210.732
322.56
111.828
53.07%
2011
322.56
405.00
82.44
25.56%
2012
405.00
532.17
127.17
31.40%
2013
532.17
561.02
28.85
5.42%
2014
561.02
772.66*
211.64
37.72%
2015
110.38
105.26
-5.12
-4.64%
2016
105.26
115.82
10.56
10.03%
2017
115.82
169.23
53.41
46.11%
2018
169.23
157.74
-11.49
-6.79%
2019
157.74
293.65
135.91
86.16%
2020
293.65
530.76*
237.11
80.75%
2021
132.69
177.57
44.88
33.82%